.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  background: linear-gradient(to right, #c6d8ff, #e6c5ff);
  font-family: 'Segoe UI', sans-serif;
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.2;
  z-index: 0;
}
.auth-box {
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
  text-align: center;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-icon {
  width: 100px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  color: #333;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-buttons button {
  flex: 1;
  padding: 10px 0;
  border: none;
  background-color: #f3f3f3;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  transition: background-color 0.3s;
}

.tab-buttons button.active {
  background-color: white;
  border-bottom: 2px solid #999;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

label {
  font-weight: 600;
  font-size: 14px;
  color: #444;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #7d57c1;
}

button[type='submit'] {
  margin-top: 10px;
  padding: 10px;
  background-color: #a88bed;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type='submit']:hover {
  background-color: #8c6ae0;
}

.arrow {
  margin-left: 5px;
}

small {
  font-size: 12px;
}
